@model AddHomeViewModel

<div class="container">
    <div class="justify-content-center align-items-center">
        <form enctype="multipart/form-data" class="text-dark" asp-controller="Advertisements" asp-action="AddHome" method="post" style="background-color:rgb(131, 196, 228)">
            <h3 class="text-center bg-primary rounded text-white pt-3" style="min-height:65px">Dodaj Dom</h3>
            <div class="form-row mt-3">
                <div class="col-3 form-group">
                    <label asp-for="Name">Tytuł</label>
                    <input asp-for="Name" class="form-control" placeholder="Tytuł" />
                    <span asp-validation-for="Name"></span>
                </div>
                <div class="col-2 form-group mt-auto pl-1">
                    <label asp-for="AdvLength">Okres</label>
                    <select asp-for="AdvLength">
                        <option value="7">7 dni</option>
                        <option value="30">30 dni</option>
                        <option value="90">90 dni</option>
                    </select>
                </div>
                <div class="col-2 form-group mt-auto ml-4">
                    <input asp-for="MainPageDisplay" class="form-check-input" type="checkbox" />
                    <label>Promowanie</label>
                </div>
            </div>
            <div class="form-row mt-3">
                <div class="col-4 form-group">
                    <label asp-for="City">Miejscowość</label>
                    <input asp-for="City" class="form-control" placeholder="Podaj miejscowość" />
                    <span asp-validation-for="City"></span>
                </div>
                <div class="col-6 form-group">
                    <label asp-for="Address">Adres</label>
                    <input asp-for="Address" class="form-control" placeholder="Podaj adres" />
                    <span asp-validation-for="Address"></span>
                </div>
            </div>
            <div class="form-row mt-3">
                <div class="col-3 form-group">
                    <label asp-for="NumberOfFloors">Liczba pięter</label>
                    <input asp-for="NumberOfFloors" class="form-control" placeholder="Podaj liczbę pięter" />
                    <span asp-validation-for="NumberOfFloors"></span>
                </div>
                <div class="col-3 form-group">
                    <label asp-for="NumberOfRooms">Liczba pokoi</label>
                    <input asp-for="NumberOfRooms" class="form-control" placeholder="Podaj liczbę pokoi" />
                    <span asp-validation-for="NumberOfRooms"></span>
                </div>
                <div class="col-3 form-group">
                    <label asp-for="SquareMetrage">Powieszchnia domu</label>
                    <input asp-for="SquareMetrage" class="form-control" placeholder="Podaj powieszchnię lokalu" />
                    <span asp-validation-for="SquareMetrage"></span>
                </div>
                <div class="col-3 form-group">
                    <label asp-for="TotalArea">Całkowita powieszchnia działki</label>
                    <input asp-for="TotalArea" class="form-control" placeholder="Podaj powieszchnię całk." />
                    <span asp-validation-for="TotalArea"></span>

                </div>
            </div>
            <div class="form-row mt-3">
                <div class="col-3 form-group">
                    <label asp-for="ConstructionYear">Rok budowy</label>
                    <input asp-for="ConstructionYear" class="form-control" placeholder="Rok budowy" />
                    <span asp-validation-for="ConstructionYear"></span>
                </div>
                <div class="col-3 form-group mt-auto ml-4">
                    <input asp-for="HaveGarage" class="form-check-input" type="checkbox" />
                    <label asp-for="HaveGarage">Garaż</label>
                </div>
                <div class="col-3 form-group mt-auto ml-2">
                    <input asp-for="HaveFurnishings" class="form-check-input" type="checkbox" />
                    <label asp-for="HaveFurnishings">Umeblowanie</label>
                </div>

            </div>
            <div class="row mt-3">
                <div class="col-9 form-group">
                    <label asp-for="Description">Opis</label>
                    <textarea asp-for="Description" class="form-control"></textarea>
                    <span asp-validation-for="Description"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="MainImage">Zdjęcie główne</label>
                    <div class="custom-file">
                        <input asp-for="MainImage" class="form-control custom-file-input">
                        <label class="custom-file-label">Dodaj zdjęcia...</label>
                    </div>
                </div>
                <div class="col-4">
                    <label asp-for="Images">Zdjęcia dodatkowe</label>
                    <div class="custom-file">
                        <input asp-for="Images" multiple class="form-control custom-file-input">
                        <label class="custom-file-label">Dodaj zdjęcia...</label>
                    </div>
                </div>
            </div>
            <div class="form-row mt-3">
                <div class="col-3 form-group">
                    <label asp-for="Advance"><h5 class="text-white">Zaliczka</h5></label>
                    <input asp-for="Advance" class="form-control" placeholder="Wysokość zaliczki" />
                    <span asp-validation-for="Advance"></span>

                </div>
                <div class="col-3 form-group">
                    <label asp-for="Price"><h5 class="text-white">Cena</h5></label>
                    <input asp-for="Price" class="form-control" placeholder="Podaj cenę" />
                    <span asp-validation-for="Price"></span>
                </div>
            </div>
            <div class="mt-4">
                <button type="submit" class="btn btn-success mb-1" style="width:270px">Dodaj</button><a asp-action="Index" asp-controller="Customers" class="btn btn-danger ml-2 mb-1" style="width:270px">Anuluj</a>
            </div>
            @section Scripts {
                <script>
                    $(document).ready(function () {
                        $('.custom-file-input').on("change", function () {
                            var fileLabel = $(this).next('.custom-file-label');
                            var files = $(this)[0].files;
                            if (files.length > 1) {
                                fileLabel.html(files.length + ' files selected');
                            }
                            else if (files.length == 1) {
                                fileLabel.html(files[0].name);
                            }
                        });
                    });
                </script>
            }
        </form>
    </div>
</div>
