@model RealRent.Models.ServiceMessageViewModel
@{
    ViewData["Title"] = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">

    <div class="row mx-0 px-0">
        <div class="col-12 mx-0 px-0 text-center container-fluid" style="position:relative">
            <img src="~/images/typing.jpg" style="width:100%;max-height:350px" />
        </div>
    </div>
    <br />
    <br />
    <div class="container">
        <form enctype="multipart/form-data" class="text-dark w-50 mx-auto" method="post" style="background-color:rgb(131, 196, 228)">
            <h3 class="text-center bg-primary rounded text-white pt-3" style="min-height: 65px">Napisz do nas!</h3>
            <div class="form-row mt-3">

                <div class="offset-2 col-8">
                    <div class="form-group">
                        <label><b>Od Użytkownika:</b>  @Model.SenderName</label>
                        <input type="hidden" class="form-control" asp-for="SenderName" />
                    </div>



                    <div class="form-group">
                        <label><b>Z adresu:</b> @Model.SenderEmail</label>
                        <input type="hidden" class="form-control" asp-for="SenderEmail" />
                    </div>

                    <div class="form-group mt-5">
                        <label asp-for="Subject"><b>Temat:</b> </label>
                        <select class="form-control dropdown-info" asp-for="Subject">
                            <option value="">Dodawanie ogłoszenia</option>
                            <option value="">Logowanie/Rejestracja</option>
                            <option value="">Ustawiena konta</option>
                            <option value="">Inny</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label asp-for="Text"><b>Wiadomość: </b></label>
                        <textarea class="form-control" asp-for="Text" cols="3"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <input type="hidden" class="form-control" asp-for="SenderPassword" />
                </div>
                <div class="form-group mt-4 mx-auto">
                    <button type="submit" class="btn btn-success mb-1" style="width:200px">Wyślij</button><a asp-action="Index" asp-controller="Customers" class="btn btn-danger ml-2 mb-1" style="width:200px">Anuluj</a>
                </div>
            </div>
        </form>
    </div>
    </div>

