
@{
    ViewData["Title"] = "ONas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">

    <div class="row mx-0 px-0">
        <div class="col-12 mx-0 px-0 text-center container-fluid" style="position:relative">
            <img src="~/images/Real-Estate.jpg" style="width:100%" />
            <div class="mx-auto text-white display-3" style="position:absolute;bottom:15px;left:30px"><b>Real-Rent</b></div>
        </div>
    </div><br /><br />
    <div class="row">
        <div class="col-12">
            <h3 class="text-center">
                Jesteśmy jest hubem integrującym wszystkie segmenty rynku mieszkaniowego na jednej platformie cyfrowej.
                Łączymy nabywców i posiadaczy nieruchomości, deweloperów, najemców i agencje pośrednictwa.
            </h3><br />
            <div class="text-center">
                <lead>
                    Zakup i sprzedaż nieruchomości w Polsce to wciąż żmudny, wieloetapowy i „offlinowy” proces.
                    Naszym celem jest uproszczenie go i dostosowanie do potrzeb wymagających i nowoczesnych użytkowników.
                    Nasz zespół tworzą doświadczeni menedżerowie wywodzący się z innowacyjnych firm sektora bankowego i nowych technologii.
                    Zapewniamy kompleksową obsługę prezentowanej inwestycji.
                    Dbamy za Ciebie o to, żeby publikowane u nas informacje o inwestycji i poszczególnych lokalach były aktualne.
                    Dokładamy wszelkich starań, aby nasze usługi były jeszcze bardziej doskonałe, a nasi klienci mogli zapomnieć,
                    że wynajem nieruchomości wiąże się z jakimikolwiek problemami. Zaufaj nam – oszczędź swój czas, pieniądze i nerwy.
                    Przekonaj się samodzielnie o naszym profesjonalizmie i zaangażowaniu.
                    Każdy klient najmujący w naszej agencji wynajmu mieszkanie i spełniający kryteria kultury wynajmu,
                    na koniec współpracy otrzymuje od nas dokument, który potwierdza jego rzetelność i pozytywną współpracę w okresie umowy najmu.
                    Jeśli już spotkałeś się z najemcą, który otrzymał od nas rekomendację, możesz czuć się bezpiecznie.
                    Klienci, którzy otrzymali ten dokument, płacą terminowo, nie sprawiają problemów dyscyplinarnych,
                    a także pozostawiają po sobie czyste i niezniszczone mieszkanie.
                </lead>
            </div>
        </div>
    </div><br /><br /><br />
    <div class="row">
        <div class="col-12 container-fluid" style="position:relative">
            <img src="~/images/banner.png" style="width:100%;max-height:400px;" />
            <div><h1 class="text-white display-3" style="position:absolute;top:10px;left:30px">Skorzystaj z Oferty</h1></div>
        </div>
    </div>
    <br /><br /><br />
    <div class="row">
        <div class="col-6">
            <h4 class="text-center">Oferta dla osób prywatnych</h4>
            <div class="text-center">
                Twoje ogłoszenie będzie widoczne dla około 900 tys.
                użytkowników serwisu miesięcznie.
                Możesz dotrzeć także do prawie 4 mln użytkowników stron partnerskich takich jak Gazeta.pl.
                Łatwo i bezpiecznie zamiesć ogłoszenie bez wymaganych opłat.
            </div>
        </div>
        <div class="col-6">
            <h4 class="text-center">Oferta dla agencji nieruchomości</h4>
            <div class="text-center">
                Wykorzystanie jednego z największych zasięgów w branży oraz dostęp do transakcyjnej grupy użytkowników.
                Przejrzyste zarządzanie i optymalna prezentacja ofert oraz kompletne dane statystyczne.
            </div>
        </div>
    </div>
    <br /><br /><br />
    <div class="row">
        <div class="col-6">
            <h4 class="text-center">RealRent Sp. z o.o.</h4>
            <div class="text-center">Adres:</div>
            <div class="text-center">ul.Konopnicka 8/10</div>
            <div class="text-center">00-732 Warszawa</div>
            <div class="text-center">NIP: 512-410-20-73</div>

        </div>
        <div class="col-6">
            <h4 class="text-center">Biuro obsługi klienta</h4>
            <div class="text-center">RealRent@gmail.com</div><br />
            <div class="text-center">Tel 777 777 777</div>
        </div>
    </div>
    </div>

