
@{
    ViewData["Title"] = "AddSuccess";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="card rounded mx-auto" style="width:500px;height:300px;background-color:rgb(131, 196, 228)">
    <div class="card-body">
        <h3 class="text-center text-dark">Operacja zakończona powodzeniem!</h3><br /><br /><br />
        <div class="text-center">
        <a class="btn btn-light w-50 mt-5" asp-action="Index" asp-controller="Customers">Wróć do strony głównej</a>
        </div>
    </div>
    </div>
</div>