@*@model IEnumerable<Agency>*@

@using RentModel.Models

@*@foreach (var agency in Model)
    {
        <div class="row">
            <div class="col-12">
                <div class="card bg-warning">
                    <h4 class="card-header">Agencja X</h4>
                </div>
                <p class="card-text">Hasło Reklamowe</p>
                <a>
                    <div class="card-footer">
                        Link do agencji
                    </div>
                </a>
            </div>
        </div>
    }*@


<div class="row mb-2">
    <div class="col-12">
        <div class="card" style="background-image: url('../background/unnamed.jpg');background-size:cover;">
            
            <h4 class="card-header text-white">Agencja X</h4>
            <p class="card-text text-center text-white">Hasło Reklamowe</p>
            <div class="card-footer">
                <a class="btn bg-white text-dark w-75">Link</a>
            </div>
        </div>
    </div>
</div>

<div class="row mb-2">
    <div class="col-12">
        <div class="card" style="background-image: url('../background/unnamed.jpg');background-size:cover;">
            <h4 class="card-header text-white">Agencja Y</h4>
            <p class="card-text text-center text-white">Hasło Reklamowe</p>
            <div class="card-footer">
                <a class="btn bg-white text-dark w-75">Link</a>
            </div>
        </div>
    </div>
</div>

<div class="row mb-2">
    <div class="col-12">
        <div class="card" style="background-image: url('../background/unnamed.jpg');background-size:cover;">
            <h4 class="card-header text-white">Agencja Z</h4>

            <p class="card-text text-center text-white">Hasło Reklamowe</p>
            <div class="card-footer">
                <a class="btn bg-white tetx-dark w-75">Link</a>
            </div>
        </div>
    </div>
</div>

<div class="row mb-2">
    <div class="col-12">
        <div class="card" style="background-image: url('../background/unnamed.jpg');background-size:cover;">
            <h4 class="card-header text-white">Agencja A</h4>
            <p class="card-text text-center text-white">Hasło Reklamowe</p>
            <div class="card-footer">
                <a class="btn bg-white tetx-dark w-75">Link</a>
            </div>
        </div>
    </div>
</div>
<div class="row mb-2">
    <div class="col-12">
        <div class="card" style="background-image: url('../background/unnamed.jpg');background-size:cover;">
            <h4 class="card-header text-white">Agencja QW</h4>
            <p class="card-text text-center text-white">Hasło Reklamowe</p>
            <div class="card-footer">
                <a class="btn bg-white tetx-dark w-75">Link</a>
            </div>
        </div>
    </div>
</div>
<div class="row mb-2">
    <div class="col-12">
        <div class="card" style="background-image: url('../background/unnamed.jpg');background-size:cover;">
            <h4 class="card-header text-white">Agencja UI</h4>
            <p class="card-text text-center text-white">Hasło Reklamowe</p>
            <div class="card-footer">
                <a class="btn bg-white tetx-dark w-75">Link</a>
            </div>
        </div>
    </div>
</div>

