@model ChangePasswordViewModel

@{
    ViewData["Title"] = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="card w-50 mx-auto p-1 mt-5 text-dark" style="background-color:rgb(131, 196, 228)">
        <h2 class="card-title text-center">Zmień hasło</h2><hr />
        <div asp-validation-summary="All" hidden="hidden" class="text-danger"></div>
        <form method="post" asp-action="Login" asp-controller="Account">
            <div class="form-group">
                <label asp-for="CurrentPassword">Aktualne hasło</label>
                <input asp-for="CurrentPassword" class="form-control" />
                <span asp-validation-for="CurrentPassword"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewPassword">Nowe hasło</label>
                <input asp-for="NewPassword" class="form-control" />
                <span asp-validation-for="NewPassword"></span>

            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword">Potwierdź hasło</label>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword"></span>
            </div>
            <div class="text-center mb-2">
                <button type="submit" class="btn btn-primary" style="min-width:80px">Ok</button>
                <a asp-action="Index" asp-controller="Customers" class="btn btn-danger ml-2">Anuluj</a>
            </div>
        </form>
    </div>

